<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações de Conexão com o Banco de Dados -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3307/resef</property>
		<property name="connection.username">root</property>
		<property name="connection.password">tec2013</property>

		<property name="hibernate.format_sql">true</property>

		<!-- Pool de Conexões -->
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">300</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_statement">0</property>
		<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Gerenciamento do Contexto das Sessões -->
		<property name="current_session_context_class">thread</property>

		<!-- Cache de Segundo Nível -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as SQLs Geradas -->
		<property name="show_sql">true</property>

		<!-- Cria as tabelas do banco de dados -->
		<property name="hbm2ddl.auto">update</property>

		<!-- Mapeamento das entidades -->
		<mapping class="br.com.projeto.domain.Usuario" />
		<mapping class="br.com.projeto.domain.Acesso" />
		<mapping class="br.com.projeto.domain.Perfil" />
		<mapping class="br.com.projeto.domain.Vaga" />
		<mapping class="br.com.projeto.domain.VagaPerfil" />
		<mapping class="br.com.projeto.domain.Curriculo" />
		<mapping class="br.com.projeto.domain.CurriculoAcademico" />
		<mapping class="br.com.projeto.domain.CurriculoCurso" />
		<mapping class="br.com.projeto.domain.CurriculoProfissional" />
		<mapping class="br.com.projeto.domain.CurriculoPessoal" />

	</session-factory>

</hibernate-configuration>
